<footer class="app_footer">
    <ul>
        <li>
            <div class="about-us">
                <a href="/about" class="footer-btn">
                    About Us
                </a> 
            </div>

        </li>
        <li>
            <div class="contact">
                <a href="/contact" class="footer-btn">
                    Contact
                </a>
            </div>

        </li>
    </ul>

</footer>
<script src="/public/js/app.js"></script>