<body>
    <header class="app__header">
        <div class="navbar">
            <div class="left__header">
                <ul>
                    <li>
                        <a href="/">
                            <h3 class="logo left-header-btn">Campgrounds</h3>
                        </a>

                    </li>
                    <li>
                        <a href="/about">
                            <span class="left-header-btn-links">About</span>
                        </a>

                    </li>
                    <!-- <li>
                        <a href="/add">
                            <span class="left-header-btn-links">New</span>
                        </a>

                    </li> -->
                </ul>

            </div>

            <div class="right__header">
                <ul>
                    <!-- <li>
                        <a href="/profile">
                            <span class="right-header-btn">Profile</span>
                        </a>

                    </li> -->
                    <li>
                        <a href="/login">
                            <span class="right-header-btn">Login</span>
                        </a>

                    </li>
                    <li>
                        <a href="/register">
                            <span class="right-header-btn">SignUp</span>
                        </a>

                    </li>

                </ul>
            </div>
        </div>
        <button class="menuBtn" id="menuBtn" type="button"> Menu </button>
    </header>
    <nav id="navPanel">
        <ol class="navbar-links">
            <!-- <li>
            <a href="">Campgrounds</a>
          </li> -->
            <li>
                <a href="/about">About</a>
            </li>
            <!-- <li>
                <a href="/add">New</a>
            </li> -->
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Sign Up</a>
            </li>

        </ol>

    </nav>