<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../public/styles/aboutstyle.css">

</head>

<body prefix="schema: http://schema.org">
    <header>
        <h1>Project Report</h1>
    </header>
    <div role="contentinfo">
        <ol role="directory">
            <li><a href="#introduction"><span>1. </span>Introduction</a>
                <ol role="directory">
                    <li><a href="#Porpuse"><span>1.1 </span>Porpuse</a></li>
                    <li><a href="#Product-Scope"><span>1.2 </span>Product Scope</a></li>
                </ol>
            </li>
            <li><a href="#Overall-Description"><span>2. </span>Overall Description</a>
                <ol role="directory">
                    <li><a href="#Product-Functions"><span>2.1 </span>Product Functions</a></li>
                    <li><a href="#database"><span>2.2 </span>Database</a></li>
                    <li><a href="#APIs"><span>2.3 </span>APIs</a></li>
                </ol>
            </li>
            <li><a href="#External-Interface-Requirements"><span>3. </span>External Interface Requirements</a>
                <ol role="directory">
                    <li><a href="#User-Interfaces"><span>3.1 </span> User Interfaces</a>
                        <ol role="directory">
                            <li><a href="#create-account"><span>3.1.1 </span>How to create an account</a></li>
                            <li><a href="#manage-account"><span>3.1.2 </span>How to manage your account</a></li>
                            <li><a href="#add-camp"><span>3.1.3 </span>How to add a new campground</a></li>
                            <li><a href="#info-camp"><span>3.1.4 </span>Campground information</a></li>
                            <li><a href="#book-info"><span>3.1.5 </span>How to make a camping reservation</a></li>
                            <li><a href="#review-info"><span>3.1.6 </span>Add a review</a></li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li><a href="#api-section"><span>4. </span>Own API</a>
            </li>

        </ol>
        <section typeof="sa:AuthorsList">
            <h2>Authors</h2>
            <ul>
                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person" resource="fb.com/radu-luca">
                        <meta property="schema:givenName" content="Luca">
                        <meta property="schema:familyName" content="Radu">
                        <span property="schema:name">Luca Radu</span>
                    </span>

                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:radulucapay@gmail.com" property="schema:email">radulucapay@gmail.com</a>
                        </li>
                    </ul>
                </li>

                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person" resource="fb.com/dorin-cheptanariu">
                        <meta property="schema:givenName" content="Dorin">
                        <meta property="schema:familyName" content="Cheptanariu">
                        <span property="schema:name">Dorin Cheptanariu</span>
                    </span>

                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:cheptanariudorin@yahoo.com"
                                property="schema:email">cheptanariudorin@yahoo.com</a>
                        </li>
                    </ul>
                </li>

                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person" resource="fb.com/buliga-nicu">
                        <meta property="schema:givenName" content="Buliga">
                        <meta property="schema:familyName" content="Nicu">
                        <span property="schema:name">Buliga Nicu</span>
                    </span>
                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:nicu.buliga2000@gmail.com"
                                property="schema:email">nicu.buliga2000@gmail.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>


    <section role="doc-introduction" id="introduction">
        <h2>
            <span>1. </span>
            Introduction
        </h2>

        <section id="Porpuse">
            <h3> <span> 1.1</span>
                Porpuse
            </h3>
            <p>
                This is a website designed for the lovers of nature, who like to camp and want to visit many places.
                Here they can find a list of campgrounds
                where they can reserve a place to camp as many days as they want,even give feedback about a certain
                place.
            </p>
        </section>

        <section id="Product-Scope">
            <h3> <span> 1.2</span>
                Product Scope
            </h3>
            <p>
                The scope of this website is to provide users a list of safe places to camp ,which contain reviews from
                real users .
                Every camp place is verified by a admin before it's posted ,to prevent fake locations or bad
                conditions.Our goal is to have a comunity of trusting people who can help other people who want to live
                the same experience and go in the same places.
            </p>
        </section>
    </section>

    <section id="Overall-Description">
        <h2>
            <span>2. </span>
            Overall Description
        </h2>

        <section id="Product-Functions">
            <h3> <span> 2.1</span>
                Product Functions
            </h3>
            <p>The main functionalities of this website are:
            <ul>
                <li>Create account for users</li>
                <li>Login with account created in application or with GitHub</li>
                <li> Management for account</li>
                <li> Posibility of registered users to add a camp site</li>
                <li>Users can add a review with rating and photos </li>
                <li>Users can reserve a campground</li>
                <li>Users have on his profile page a list with reserved campgrounds where they can cancel it.</li>
                <li>Every camp has informations about price, location, contanct , utilities and weather.</li>
                <li>User can see the weather of a campground for 5 days.</li>
            </ul>
            </p>
        </section>
        <section id="database">
            <h3> <span> 2.2</span>
                Database
            </h3>
            <p>
                I used MongoDB to store the information. The collections have a suggestive name: users, camps, reviews
                and books.
            </p>
        </section>
        <section id="APIs">
            <h3> <span> 2.3</span>
                APIs
            </h3>
            <p>
                To locate the campground on the map, we used an API called OpenStreeMap, and for the weather we used
                Weatherbit which gives us information for the next 5 days.
            </p>
        </section>

    </section>

    <section id="External-Interface-Requirements">
        <h2>
            <span>3. </span>
            External Interface Requirements
        </h2>


        <section id="User-Interfaces">
            <h3> <span> 3.1 </span>
                User Interfaces
            </h3>
            <section id="create-account">
                <h4>
                    <span> 3.1.1 </span>
                    How to create an account
                </h4>
                <div class="txt-paragraph">
                    <div class="group">
                        <p>
                            1. On the header section, users can find a button named "SignUp":

                        <figure typeof="sa:image">
                            <img class="fig-img" src="../public/images/clickSignUp.PNG" alt="clickSignUp">

                        </figure>

                        </p>

                    </div>
                    <div class="group">
                        <p>
                            2. After clicking on it user must complete a form
                            with valid informations about him and click the button "Sign Up". If the account exist in
                            our database, they will receive a message :
                        <figure typeof="sa:image">
                            <img class="fig-img" src="../public/images/completeSignUp.PNG" alt="completeSignUp">

                        </figure>
                        </p>

                    </div>
                    Now the account is created and user can log in!
                </div>


            </section>
            <section id="login-account">
                <h4>
                    <span> 3.1.1 </span>
                    How to login into account
                </h4>
                <div class="txt-paragraph">
                    <div class="group">
                        <p>
                            1. On the header section, users can find a button named "Login":

                        <figure typeof="sa:image">
                            <img class="fig-img" src="../public/images/clickLogin1.PNG" alt="clickSignUp">

                        </figure>

                        </p>

                    </div>
                    <div class="group">
                        <p>
                            2. After clicking on it user must complete a form
                            with his account e-mail and password . If the account exist in our database,you will be
                            redirected to the main page.
                            If you don't have an account , you can select to login with your GitHub account :
                        <figure typeof="sa:image">
                            <img class="fig-img" src="../public/images/loginPage.png" alt="completeSignUp">

                        </figure>
                        </p>

                    </div>

                </div>


            </section>


            <section id="manage-account">
                <h4>
                    <span> 3.1.2 </span>
                    How to manage your account
                </h4>
                <div class="txt-paragraph">
                    <p>
                        In the profile page , the user can see the information about is account , like name , sex ,
                        email and addres. This information can be modified by pressing the button Edit
                        , and change what he want and press the button submit.
                        In this image , we can see what profile page looks like and the position of button edit .<br>
                    <figure typeof="sa:image">
                        <img class="fig-img" src="../public/images/profilepage.png" alt="Profile Page">
                        <figcaption class="fig-img small-txt">Model profile page</figcaption>
                    </figure>
                    The user have a button for change his avatar picture, in the left of the page , where can choose a
                    photo from his device.<br>
                    If the user is an admin , he will have a button for see the camping added by users which are not
                    accepted yet, where he can accept or refuse the proposal.
                    </p>
                    <p>
                        If the user is an admin , he will have a list of campgrounds that are not accepted yet( added by
                        a regular user ,and waiting to be accepted by an admin),
                        the admin can see the camp , and accept or reject the camp.
                    <figure typeof="sa:image">
                        <img class="fig-img" src="../public/images/adminProfile.png" alt="Profile Page Admin ">

                    </figure>
                    </p>
                </div>

            </section>

            <section id="add-camp">
                <h4>
                    <span> 3.1.3 </span>
                    How to add a new campground
                </h4>
                <div class="txt-paragraph">
                    <p>
                        When a user wants to add a new campground to the website , this page will appear :
                    <figure typeof="sa:image">
                        <img class="add-img" src="../public/images/addCamp.png" alt="utilities">
                        <figcaption class="add-img small-txt">Add campground model</figcaption>
                    </figure>
                    <br>
                    In this page , the user needs to complete a form where he gives to website information about the
                    camp , like name , price , phone number , and the opening dates.
                    It can also add pictures with the campground , and a description for the place , and then Submit the
                    information , and wait for an admin to accept the proposal.

                    </p>
                </div>
            </section>
            <section id="info-camp">
                <h4>
                    <span> 3.1.4 </span>
                    Campground information
                </h4>
                <div class="txt-paragraph">
                    <p>
                        On the left part of a camp page users can see informations about
                        price, location, contact, utilities and weather:
                    </p>
                    <figure typeof="sa:image">
                        <img class="fig-img" src="../public/images/utilities.PNG" alt="utilities">
                        <figcaption class="fig-img small-txt">Utilities</figcaption>
                    </figure>
                </div>

            </section>

            <section id="book-info">
                <h4>
                    <span> 3.1.5 </span>
                    How to make a camping reservation
                </h4>
                <div class="txt-paragraph">
                    <p>
                        On the campground page, immediately after the description you will have to select
                        the dates between you want to make the reservation and then confirm the choice by typing
                        the "Book now" button .Dupa ce ai facut o rezervare , aceasta va aparea pe profilul tau, si vei
                        putea vedea toate rezervarile tale,
                        precum si a le anula.
                    <figure typeof="sa:image">
                        <img class="fig-img" src="../public/images/bookNow.PNG" alt="Book now instruction">
                        <figcaption class="fig-img small-txt">Book now instruction</figcaption>
                    </figure>
                    </p>
                </div>
            </section>

            <section id="review-info">
                <h4>
                    <span> 3.1.6 </span>
                    Add a review
                </h4>
                <div class="txt-paragraph">
                    <p>
                        1. Type the "Leave a review" button:
                    <figure typeof="sa:image">
                        <img class="fig-img" src="../public/images/review1.PNG" alt="Leave a review button">
                        <figcaption class="fig-img small-txt">Leave a review button</figcaption>
                    </figure>
                    </p>
                </div>
                <div class="txt-paragraph">
                    <p>
                        2. After the next window appears
                        ( <a href="#review">figure</a> ) , leave a rating between 1-5 and a comment about your trip was:
                    <figure id="review" typeof="sa:image">
                        <img class="fig-img" src="../public/images/review2.PNG" alt="Review windows">
                        <figcaption class="fig-img small-txt">Window to leave a review</figcaption>
                    </figure>
                    </p>
                </div>
            </section>
        </section>

    </section>
    <section id="our-API">
        <h2>
            <span>4 </span>
            API
        </h2>
        <section id="api-section">
            We create an public API for anyone who want to add to their website , this API return a JSON object with
            informations about campgrounds:
            <ul>
                <li>
                    <ul>
                        <li>Method : GET</li>
                        <li>Url : "/api/camps/"</li>

                        <li><code>Description</code> : return a JSON object with all the campgrounds in our database.
                        </li>
                        <pre>
                        <code>
                    [
                        {
                            "_id": "60c1ea22aebe7a0db876846d",
                            "name": "Lacul Cioresti",
                            "price": "102.0",
                            "phone": "+37368230349",
                            "startDate": "2021-06-05",
                            "endDate": "2021-07-02",
                            "description": "Descriere camp",
                            "imgExtension": ".jpg",
                            "address": "Cioresti, Nisporeni",
                            "city": "Nisporeni",
                            "isValid": true
                        },
                        {
                            "_id": "60c1f7e3fe9b513c1ce4407a",
                            "name": "Padurea Codru",
                            "price": "102.0",
                            "phone": "0746637173",
                            "startDate": "2021-05-31",
                            "endDate": "2021-06-01",
                            "description": "Descrire Camp",
                            "imgExtension": ".jpg",
                            "address": "Iasi, Romania",
                            "city": "Iasi",
                            "isValid": true
                        }
                    ]
                        </code>
                    </pre>
                    </ul>

                </li>
                <li>
                    <ul>
                        <li><code>Method</code> : GET</li>
                        <li><code>URL</code>: "/api/camps/"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li>id: Id of camp</li>
                            </ul>
                        </li>
                        <li><code>Description</code>: return a JSON object with campground</li>
                        <pre>
                     <code>
                        {
                            "_id": "60c1ea22aebe7a0db876846d",
                            "name": "Lacul Cioresti",
                            "price": "102.0",
                            "phone": "+37368230349",
                            "startDate": "2021-06-05",
                            "endDate": "2021-07-02",
                            "description": "Descriere camp",
                            "imgExtension": ".jpg",
                            "address": "Cioresti, Nisporeni",
                            "city": "Nisporeni",
                            "isValid": true
                        }
                     </code>
                 </pre>
                    </ul>

                </li>
                <li>
                    <ul>
                        <li><code>Method</code> : POST</li>
                        <li><code>URL</code>: "/api/camps/"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li> <code>name</code>: name of campground</li>
                                <li> <code>price</code>: price of campground</li>
                                <li> <code>phone</code>: contact phone</li>
                                <li> <code>startDate</code>: Period of validity, start date</li>
                                <li> <code>endDate</code>: Period of validity, end date</li>
                                <li> <code>description</code>: The description of campground</li>
                            </ul>
                        </li>
                        <li><code>Description</code>: return a JSON object with a message</li>
                        <pre>
                     <code>
                        { 
                            "message": "successfully added" 
                        }
                     </code>
                 </pre>
                    </ul>

                </li>
                <li>
                    <ul>
                        <li><code>Method</code> : PUT</li>
                        <li><code>URL</code>: "/api/camps/"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li><code>id</code>: id of campground</li>
                                <li> <code>name</code>: name of campground</li>
                                <li> <code>price</code>: price of campground</li>
                                <li> <code>phone</code>: contact phone</li>
                                <li> <code>startDate</code>: Period of validity, start date</li>
                                <li> <code>endDate</code>: Period of validity, end date</li>
                                <li> <code>description</code>: The description of campground</li>
                            </ul>
                        </li>
                        <li><code>Description</code>: Parameters are optional except <code>id</code>, if this
                            <code>id</code> does not exist in the database a new campgound is created
                        </li>
                        <pre>
                     <code>
                        { 
                            "message": "successfully modified" 
                                    or
                            "message": "successfully added to database"  
                                    or  
                            message: "unsuccessfully"               
                        }
                     </code>
                 </pre>
                    </ul>

                </li>

                <li>
                    <ul>
                        <li><code>Method</code> : DELETE</li>
                        <li><code>URL</code>: "/api/camps/"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li>id: Id of camp</li>
                            </ul>
                        </li>
                        <li><code>Description</code>: return a JSON object with a message if the camp has been deleted
                        </li>
                        <pre>
                     <code>
                        {
                            "message": "successfully deleted" 
                                    or
                            "message": "unsuccessfully"        
                        }
                     </code>
                 </pre>
                    </ul>

                </li>


                <!-- REVIEWS -->

                <li>
                    <ul>
                        <li><code>Method</code> : GET</li>
                        <li><code>URL</code>: "/api/reviews/"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li><code>id</code> : Id of review</li>
                            </ul>
                        </li>
                        <li><code>Description</code>: return a JSON object with a review by <code>id</code></li>
                        <pre>
                     <code>
                        {
                            "_id": "60c225013a492c23b85eaf90",
                            "message": "Foarte frumos ! ",
                            "rating": "5",
                            "userID": "60c1e9dcaebe7a0db876846c",
                            "campgroundID": "60c1f7e3fe9b513c1ce4407a",
                            "userName": "Radu Luca"
                        }
                     </code>
                 </pre>
                    </ul>

                </li>
                <li>
                    <ul>
                        <li><code>Method</code> : GET</li>
                        <li><code>URL</code>: "/api/reviews/byCampId"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li><code>id</code> : Id of campground</li>
                            </ul>
                        </li>
                        <li><code>Description</code>: return a JSON object with a list of review by a campground
                            <code>id</code>
                        </li>

                    </ul>

                </li>
                <li>
                    <ul>
                        <li><code>Method</code> : POST</li>
                        <li><code>URL</code>: "/api/reviews/"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li> <code>message</code>: message of review</li>
                                <li> <code>rating</code>: rating of review</li>
                                <li> <code>userID</code>: created by userID</li>
                                <li> <code>campgroundID</code>: campground ID </li>
                                <li> <code>userName</code>: name of user </li>
                            </ul>
                        </li>
                        <li><code>Description</code>: return a JSON object with a message</li>
                        <pre>
                     <code>
                        { 
                            "message": "successfully added" 
                                    or
                            "message": "unsuccessfully"
                        }
                     </code>
                 </pre>
                    </ul>

                </li>
                <li>
                    <ul>
                        <li><code>Method</code> : PUT</li>
                        <li><code>URL</code>: "/api/reviews/"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li><code>id</code> : id of review </li>
                                <li> <code>message</code>: message of review</li>
                                <li> <code>rating</code>: rating of review</li>
                                <li> <code>userID</code>: created by userID</li>
                                <li> <code>campgroundID</code>: campground ID </li>
                                <li> <code>userName</code>: name of user </li>
                            </ul>
                        </li>
                        <li> <code>Description</code>: Parameters are optional except <code>id</code>, if this
                            <code>id</code> does not exist in the database a new review is created else the review
                            changes
                        </li>
                        <pre>
                     <code>
                        { 
                            "message": "successfully modified" 
                                    or
                            "message": "successfully added to database"  
                                    or  
                            message: "unsuccessfully"               
                        }
                     </code>
                 </pre>
                    </ul>

                </li>

                <li>
                    <ul>
                        <li><code>Method</code> : DELETE</li>
                        <li><code>URL</code>: "/api/reviews/"</li>
                        <li><code>Parameters </code> :
                            <ul>
                                <li>id: Id of review</li>
                            </ul>
                        </li>
                        <li>Description: return a JSON object with a message</li>
                        <pre>
                     <code>
                        {
                            "message": "successfully deleted" 
                                    or
                            "message": "unsuccessfully"        
                        }
                     </code>
                 </pre>
                    </ul>

                </li>
                <li>
                    <ul>
                        <li><code>Method</code> : GET</li>
                        <li><code>Url</code> : "/api/reviews/"</li>
                        <li><code>Description</code> : return a JSON object with all the reviews in our database.</li>

                    </ul>

                </li>
            </ul>
        </section>
        <section id="diagrams">
            <h2>
                <span>5 </span>
                Diagrams
            </h2>
            <section id="diagrams-section">
                <figure typeof="sa:image">
                    <img class="fig-img" src="../public/images/My_Diagram.png" alt="diagram">

                </figure>
            </section>
        </section>
        <section id="video">
            <h2>
                <span>6 </span>
                Video presentation
            </h2>
            <section id="video-section">
                <iframe width="40%" height="330px" src="https://www.youtube.com/embed/Bj4ihG6kxFU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </section>
        </section>
</body>

</html>