<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../public/styles/campFile.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    </head>
    <% if(!isLoggedIn) { %>
        <%- include('includes/navbar.ejs') %>
            <%} else {%>
                <%- include('includes/navbar_loggedIn.ejs') %>
                    <% } %>
                        <div class="main-center">
                            <div class="left-side">
                                <div class="contact-box">
                                    <div>Contact</div>
                                    <p>0764343233</p>
                                </div>
                                <div class="utilities-box">
                                    <div>Utilities</div>
                                    <ol>
                                        <li>Wi-Fi</li>
                                        <li>Free water</li>
                                        <li>Shop</li>
                                        <li>Fire-Wood</li>

                                    </ol>

                                </div>
                                <div>
                                    <div id="map" class="map"></div>
                                    <span class="map-location"> Podklopca 5A, 5230 Bovec, Slovenia</span>
                                </div>
                            </div>

                            <div class="center-container">
                                <div class="camp-about">
                                    <div class="camp-pictures">
                                        <img id="photocamp" alt="Poza"
                                            src="https://cincinnatiusa.com/sites/default/files/styles/article_full/public/attractionphotos/Winton%20Woods%20Campground.JPG?itok=Iytm6OhO">
                                        <div id="myModal" class="modal">

                                            <span class="close">&times;</span>

                                            <img class="modal-content" id="img01"
                                                src="https://cincinnatiusa.com/sites/default/files/styles/article_full/public/attractionphotos/Winton%20Woods%20Campground.JPG?itok=Iytm6OhO"
                                                alt="CampPhoto">
                                            <span>
                                                <a class="previous" href="#pic5">&lt;</a>
                                                <a class="next" href="#pic2">&gt;</a>
                                            </span>
                                        </div>

                                        <div class="previous"> <a href="">&#8249;</a></div>
                                        <div class="next"><a href="">&#8250;</a></div>

                                    </div>

                                    <div class="descript-camps">
                                        <span class="price-label">
                                            <span class="camp-name"> Desoto Park</span>
                                            <span>10$/day</span>
                                        </span>
                                        <div class="rating-container">
                                            <input type="radio" id="starCamp5" name="starCamp" value="1"><label
                                                for="starCamp5"></label>
                                            <input type="radio" id="starCamp4" name="starCamp" value="2"
                                                checked="checked"><label for="starCamp4"></label>
                                            <input type="radio" id="starCamp3" name="starCamp" value="3"><label
                                                for="starCamp3"></label>
                                            <input type="radio" id="starCamp2" name="starCamp" value="4"><label
                                                for="starCamp2"></label>
                                            <input type="radio" id="starCamp1" name="starCamp" value="5"><label
                                                for="starCamp1"></label>

                                        </div>
                                        <p class="description-box">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit.
                                            Cupiditate enim, consectetur, sunt iste accusantium, ad illum nihil
                                            consequuntur aperiam maxime
                                            magnam velit aliquid quod molestiae odit dolores omnis! Nam, porro.</p>
                                    </div>
                                    <button class="book-btn">Book now</button>

                                    <input type="date" id="reservation-input" name="trip-start" value="2021-04-10"
                                        min="2021-04-10" max="2023-12-31">
                                </div>
                                <hr>
                                <div class="review-section">
                                    <button class="review-btn" onclick="showReview()">Leave a review</button>
                                    <form action="/" class="review-form" id="review-form">
                                        <p>Rating</p>
                                        <div class="rating-container">

                                            <input type="radio" id="star1" name="star" value="1"><label
                                                for="star1"></label>
                                            <input type="radio" id="star2" name="star" value="2"><label
                                                for="star2"></label>
                                            <input type="radio" id="star3" name="star" value="3"><label
                                                for="star3"></label>
                                            <input type="radio" id="star4" name="star" value="4"><label
                                                for="star4"></label>
                                            <input type="radio" id="star5" name="star" value="5"><label
                                                for="star5"></label>

                                        </div>
                                        <div class="comment-section">
                                            <h4 style="margin-bottom: 1px;">Comment</h4>
                                            <textarea id="comment-box" placeholder="Enter your comment"
                                                required></textarea>

                                        </div>
                                        <input class="choose-files" type="file" id="choose-files" name="choose-files"
                                            accept="image/* , video/* ,audio/*">
                                        <label for="choose-files"> Add some photo or video</label>
                                        <div>
                                            <button type="submit" class="submit-button">Send review</button>
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="added-reviews">
                                        <label> <b>Reviews</b></label>

                                        <div class="single-review2">
                                            <div class="avatar">
                                                <img alt="Smith" src="../public/images/default_avatar.png">
                                                <h4>Alfred Michel</h4>
                                            </div>
                                            <div class="user-review">
                                                <p><b>Rating: </b>4</p>
                                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum
                                                    accusamus ad consequuntur
                                                    beatae ratione, cumque architecto voluptas suscipit similique esse?
                                                    Vel consequuntur
                                                    adipisci tempora quia ab cupiditate repellat at odit.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="right-side">

                            </div>
                        </div>
                        <%- include('includes/footer.ejs') %>
                            <script src="../public/js/campFile.js"></script>
                            </body>

                            </html>