<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Sofia|Open+Sans">
    <link rel="stylesheet" href="./styles/addstyle.css">
</head>

<body>
    <header class="app__header">
        <div class="navbar">
            <div class="left__header">
                <ul>
                    <li>
                        <a href="./index.html">
                            <h3 class="logo left-header-btn">Campgrounds</h3>
                        </a>

                    </li>
                    <li>
                        <a href="./about.html">
                            <span class="left-header-btn-links">About</span>
                        </a>

                    </li>
                    <li>
                        <a href="./add.html">
                            <span class="left-header-btn-links">New</span>
                        </a>

                    </li>
                </ul>
    
            </div>
    
            <div class="right__header">
                <ul>
                    <li>
                        <a href="./profileDashboard.html">
                            <span class="right-header-btn">Profile</span>
                        </a>

                    </li>
                    <li>
                        <a href="./login.html">
                            <span class="right-header-btn">Login</span>
                        </a>

                    </li>
                    <li>
                        <a href="./register.html">
                            <span class="right-header-btn">SignUp</span>
                        </a>

                    </li>

                </ul>
            </div>
        </div>
        <button class="menuBtn" id="menuBtn" type="button"> Menu </button>
    </header>
    <nav id="navPanel">
        <ol class="navbar-links">
          <!-- <li>
            <a href="">Campgrounds</a>
          </li> -->
          <li>
            <a href="./about.html">About</a>
          </li>
          <li>
            <a href="./add.html">New</a>
          </li>
          <li>
            <a href="./login.html">Login</a>
          </li>
          <li>
            <a href="./register.html">Sign Up</a>
          </li>
  
        </ol>
        
      </nav>
    <div class="central-part">

        <main class="main__side">
            <div>
                <h1 class="header-register">Add Campgrounds</h1>
                <form class="register-form" action="">

                    <label for="name_camp" class="label_input">Name</label>
                    <input type="text" class="input_inline" name="name_camp" placeholder="Name of Campground" required>

                    <label for="price" class="label_input">Price / day</label>
                    <input type="number" class="input_inline" value="1.0" step="1.0" required>

                    <label for="phone" class="label_input">Phone</label>
                    <input type="text" class="input_inline" placeholder="11111" required>

                    <label class="label_input" for="start-date">Start date:</label>
                    <input type="date" id="start-date" class="input_inline" name="trip-start" value="2021-05-31" >

                    <label class="label_input" for="end-date">End Date:</label>

                    <input type="date" id="end-date" class="input_inline" name="trip-end" value="2021-06-01" >


                    <label for="imagini" class="label_input display-inline">Pictures</label>
                    <input type='file' name="imagini" accept="image/gif, image/jpeg, image/png" class="input_inline"
                        multiple required>

                    <label for="description" class="label_input">Description</label>
                    <textarea class="input_inline" type="text" name="description" rows="10"
                        placeholder="Add a small Description" required=""></textarea>


                    <button type="submit" class="btn_signup">Submit</button>
                </form>

            </div>


        </main>
    </div>

    <footer class="app_footer">
        <ul>
            <li>
                <div class="about-us">
                    <a href="./about.html" class="footer-btn">
                        About Us
                    </a> 
                </div>

            </li>
            <li>
                <div class="contact">
                    <a href="./contact.html" class="footer-btn">
                        Contact
                    </a>
                </div>

            </li>
        </ul>

    </footer>

</body>
<script src="/js/app.js"></script>

</html>