body{
    line-height: 1.6;
    font-weight: 300;
    font-family: Roboto,sans-serif;
}
a {
    text-decoration: none;
}

ol{
    list-style-type: none;
}

code {
    font-family: Roboto Mono,monospace;
}
h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 2.5em;
    margin-left: 1em;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .0375em;
}

h2 {
    margin-top: 3em;
}

h1, h2 {
    color: #4b0061;
}

img{
    max-width: 100%;
    min-height: 100%;
} 
h4{
    margin-top: 1em;
    margin-left: 1.5em;
}
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  .fig-img{
      width: 65%;
  }
  .add-img{
      width: 40%;
  }
  .small-txt{
      font-size: small;
      font-style: italic;
  }

  .txt-paragraph{
      margin-left: 2em;
  }
#API .api-request{
    background-color: rgb(0, 0, 139);
    border-radius: 3px;
    width: auto;
    color: white;
    width: 50%;
}
