.main-campground{
  width: 100%;
  flex:1;
  font-family: sans-serif;
  background-color: whitesmoke;

}
.container-campground{
  width: 80%;
    min-width: 900px;
    flex: 1;
    margin: 50px auto;
    display: flex;
}
.side-part{
 width: 20%;
 min-width: 200px;
 margin-right: 25px;

}
.camp-title{
  font-size: 25px;
    color: gray;
    margin: 10px;
    text-align: center;
}
.camp-info{
  border-radius: 2px;
  margin: 10px;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 24%);
}
.info-title{
  background: #f9f9f9;
  padding: 13px;
}
.info{
  border-top: 1px solid #e4e4e4;
  background-color: #ffffff;
  padding: 13px;

}
.camp-map{

}
.main-content{
  width: 80%;
  min-width: 600px;
  background-color: whitesmoke;
}
.camp-details{
  box-shadow:0px 0px 6px 1px rgb(0 0 0 / 24%);

}
.image{
  width: 100%;

}
.cmp-info{
  padding: 20px;
}
.title-cmp-info{
  font-size: 22px;
  font-weight: 600;
}
#cmp-info-header{
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;

}
.submited-by{
  border-top: 1px solid #eae3e3;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
}
.camp-comments{
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 24%);
  margin-top: 30px;
  border-radius: 5px;
}
.previous-comments{
  border-top: 1px solid #e4e4e4;
}
.comment-content{
  padding: 10px;

}
.comments-header{
  padding: 8px;
  background: #f9f9f9;
  text-align: end;
}
.comment-header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.review-form{
  display: none;
  text-align: left;

}
.review-form p{
margin-bottom: 0;
padding-bottom: 0;
font-size: 1rem;
}
.review-btn{
  font-size: 0.8em;
  height: 3em;
  background-color: rgb(250, 0, 50);
  border: rgb(250, 0, 50) solid 2px;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.book-btn{
padding: 0;
height: 3em;
width: 30%;
background-color: rgb(250, 0, 50);
border: rgb(250, 0, 50) solid 2px;
border-radius: 3px;
color: white;
font-weight: 500;
cursor: pointer;
position: relative;
margin-top: 1.5em;

}

.comment-section{
 width:100%;

}
.comment-section textarea{
 width: 100%;
border-radius: 4px;
 height: 100px;
 
 resize: none;
}
.submit-button{
padding: 0;
font-size: 0.8em;
height: 3em;
width: 50%;
background-color: rgb(250, 0, 50);
border: rgb(250, 0, 50) solid 2px;
border-radius: 3px;
color: white;
font-weight: 500;
cursor: pointer;
position: relative;
left: 25%;
}



.single-review{
padding-left:1em;
margin: auto;
background-color: #FFF;
box-shadow:  0 0 5px;
border-radius: 4px;

}
.rating-container{
  position: relative;

  display: flex;
 flex-direction: row-reverse;
 width: 150px;
 
}
.rating-container input{
  display: none;
}
.rating-container label{
display:block;
cursor:pointer;
width: 30px;

}
.rating-container label:before{
content: "\2605";
font-size: 2rem;
position: relative;
display: block;
color:#BAB5B5;

}

.book-form {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2em;
  flex-wrap: wrap;
}

.book-label {
  width: 50%;
  text-align: center;
  /* margin: 1em; */
}


input[type=date] {
  max-width: 100%;
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
  border-radius: 4px;
  background-color: whitesmoke;
  
}

input[type=date]:focus {
  text-decoration: none;
  outline: none;
}


.rating-container label:after{
 content: "\2605";
 font-size: 2rem;
 position: absolute;
 display: block;
 top: 0;
 color:#ffdb4d;
opacity: 0;
transition:.5s;
text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rating-container label:hover:after ,
.rating-container label:hover ~label:after,
.rating-container input:checked ~ label:after{
   opacity: 1;
}

.info-subtitle{
  margin-top: 0.2em;
}
.description-cmp-info p{
  overflow-wrap: anywhere;
}

.weather-container {
  display: flex;
  border: 2px solid lightslategray;
  border-radius: 3px;
  margin: 10px;
}

.weather-container .left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hidden {
  display: none;
}

.weather-container .left span {
  text-align: center;
}

.side-part .btn-container {
  display: flex;
  justify-content: center;
}

.weather-container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

#map {
  height: 180px;
  }

@media screen and (max-width: 700px) {
  
  .book-form {
    flex-direction: column;
    align-items: center;
  }

  .book-label {
    margin: 0.5em 0;
  }
}

@media screen and (max-width: 950px) {
  .container-campground {
    flex-direction: column;
    min-width: 0;
    width: 100%;
    align-items: center;
  }
  .main-content {
    min-width: 200px;
  }

  .side-part {
    width: 60%;
    margin-right: 0;
  }
}