
button:focus {
    outline: none;
}

.info-section {
    width: 100%;
    background: white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.resources {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resources .search-bar {
    box-sizing: border-box;
    margin: 1em 0;
    white-space: nowrap;
}

.select-order {
    border: none;
    height: fit-content;
    font-size: large;
    cursor: pointer;
}

.select-order:focus {
    outline: none;
}

.search-bar input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%; 
    background: #f1f1f1;
}

.search-bar button {
    width: 20%;
    padding: 10px;
    background: rgb(250, 0, 50);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.btn-allCamps {
    text-decoration: none;
    color: rgb(250, 0, 50);
    display: inline-block;
    position: relative;
    left: 60%;
    margin: 3em 0;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 600;
}

.btn-allCamps:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery .gallery__thumbnail {
    width: 30%;
    background: white;
    margin: 2em 0;
    border: 1px solid #ddd; 
    border-radius: 4px;
    padding: 3px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    transition: all 150ms linear;
}

.gallery .thumbnail__infos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.gallery .gallery__thumbnail span {
    color: rgb(61, 123, 255);
    font-size: 1.5em;
    display: inline-block;
    margin: 1em;
}

.gallery .gallery__thumbnail .price {
    color: #6c757d;
    margin: 1em;
    font-size: 1.25em;
    white-space: nowrap;
}

.gallery .gallery__thumbnail:hover span{
    text-decoration: underline;
}

.gallery img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    object-position: bottom;
}

.gallery .gallery__thumbnail:hover {
    opacity: 0.7;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    transform: scale(1.05) translateY(-2em);
    /* transition: all 150ms linear; */
}
 
.main__side {
    width: 75%;
    position: relative;
}
 
.central-part {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-bottom: 1em;
    margin-top: 1em;
}
 
.top-background {
    width: 100%;
    height: 400px;
    flex-shrink: 0;
    background: url('https://images.unsplash.com/photo-1563299796-17596ed6b017?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}

.top-background__msg {
    font-weight: 900;
    font-size: 3.5em;
}

.top-background__paragraph {
    font-weight: 500;
    font-size: 1.5em;
}

@media screen and (max-width: 1500px) {
    .gallery img {
        height: 15em;
    }
}

@media screen and (max-width: 1200px) {
    .gallery .gallery__thumbnail {
        width: 45%;
    }
}

@media screen and (max-width: 900px) {
    .gallery .gallery__thumbnail {
        width: 100%;
    }
    .gallery img {
        height: 30em;
    }
}

@media screen and (max-width: 700px) {
    .gallery img {
        height: 20em;
    }

    .btn-allCamps {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 500px) {
    .gallery img {
        height: 15em;
    }

    .resources {
        flex-direction: column;
        padding: 0.5em;
    }

    .top-background__msg {
        font-size: 2.5em;
    }

    .price {
        display: none;
    }
}