html, body {
    height: 100%;
    margin: 0;
    background: whitesmoke;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}
 
a {
    text-decoration: none;
}

.navbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.app__header{
    background: rgb(250, 0, 50);
    width: 100%;
    display: flex;
    justify-content: center;
}
 
.app_footer {
    height: 5em;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}
 
.logo {
    display: inline-block;
}

.left-header-btn,.left-header-btn-links {
    color: antiquewhite;
    padding-right: 1em;
}

.right-header-btn {
    color: antiquewhite;
    padding-left: 1em;
}
 
.footer-btn {
    margin: 1em;
    color: antiquewhite;
}


.menuBtn{
   display: none;
   background-color: rgb(250, 0, 50);
   font-size: 1rem;
   height: 100%;
   width: 15%;
   border:none;
   color: whitesmoke;
   }
.menuBtn:hover{
    background-color:rgb(179, 36,  0);
  }
.navbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
nav{
    padding:1em;
    width: 8em;
    position: absolute;
    top:3.7em;
    right:0;
    transform: translateX(+100%);
    transition: transform 1s cubic-bezier(0, 1.01, 0.58, 1);
    background-color:red;
    
  }
  .navbar-links {
    padding: 0;
  }

  .navbar-links li{
    display:block;
    width: 100%;
    padding: 0.3em; 
    margin: 0;
   
  }
  .navbar-links li a{
    color: antiquewhite;
    margin: 0;
  }
  .navbar-links li:hover{
    background-color:rgb(179, 36,  0);
  }
  .navbar-links{
    margin:0;
  }
  nav.is--open {
    transform: translateX(0);
  
  }
  .main-center {
     display: flex;
   border-style: solid;
   border-color: rgb(255, 0, 0);
   border-width:1px;
   border-top: unset;
   border-bottom: unset;
      margin:0 auto;
      
  }
  .center-container{
      width: 50%;
      padding-left:1em;
     margin-right: 1em;
  }
 .camp-pictures{
    position: relative;
    text-align: center;
   
   
  }
  .left-side{
      width: 25%;
      height: 100%;
      background-color: red;
  }
  .pictures-buttons{
      position: relative;
      width: 80%;
      margin:0 auto;
      
      
  }
  .camp-pictures img{
      width: 80%;

      border: 2px double #ddd; 
      border-radius: 4px;
      height: 60vh;
  }
  .camp-pictures .previous{ 
  display: block;
  float: left;
    text-decoration:none;
 font-size: 2rem;
} 

.camp-pictures .next{ 
    display: block;
    float:right;
    text-decoration:none;
    font-size: 2rem;
}
.descript-camps{
    position: relative;
    text-align: left;
    margin-top: 10vh;
}
 .description-box{
     border: 1px solid black;
     margin-top: 0;
  
     border-color: rgb(255,0,0);
     border-radius: 4px;
     background-color: white;

 }

 .label-descript{
  margin-bottom:0; 
 }
 .camp-name{
     text-align: center;
 }
 .rating-container{
     display: inline;
 }
 .comment-section{
     width:100%;
    
 }
 .comment-section textarea{
     width: 100%;
border-radius: 4px;
     height: 100px;
     
     resize: none;
 }
.submit-button{
    background-color: rgb(255,0,0);
    border-radius: 4px;
    color: antiquewhite;
    position:relative;
 margin:0 auto;
    font-size: 1.5rem;
}



.single-review{
padding-left:1em;
margin: auto;
   background-color: #FFF;
    box-shadow:  0 0 5px;
    border-radius: 4px;
  
}
.right-side{
    width: 25%;
    background-color: rgb(255,0,0);
}
.choose-files{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    
}
.choose-files + label{
    font-size: 1.25em;
    font-weight: 700;

    display: inline-block;

}
.choose-files + label:hover{
    background-color: white;
    color:rgb(250, 0, 50);

}
.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }


@media screen and (max-width: 620px) {
    .left-header-btn-links,.right-header-btn{
        display: none;
    
      }
    
 
    .menuBtn{
        display: block;
        
      }
 
   
}





