html, body {
    height: 100%;
    margin: 0;
    background: whitesmoke;
  
}

body {
    display: flex;
    flex-direction: column;
}
 
a {
    text-decoration: none;
}

.app_footer, .app__header {
    font-family: 'Roboto', sans-serif;
}

.app__header ul, .app_footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;    
    padding: 0;
}

.app__header li:hover, .app_footer li:hover {
    transform: scale(1.1);
    transition: all 150ms linear;
}

.navbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.app__header{
    background: rgb(250, 0, 50);
    width: 100%;
    display: flex;
    justify-content: center;
}
 
.app_footer {
    height: 5em;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}
 
.logo {
    display: inline-block;
}

.left-header-btn,.left-header-btn-links {
    color: antiquewhite;
    padding-right: 1em;
}

.right-header-btn {
    color: antiquewhite;
    padding-left: 1em;
}
 
.footer-btn {
    margin: 1em;
    color: antiquewhite;
}


.menuBtn{
   display: none;
   background-color: rgb(250, 0, 50);
   font-size: 1rem;
   height: 100%;
   width: 15%;
   border:none;
   color: whitesmoke;
   }
.menuBtn:hover{
    background-color:rgb(179, 36,  0);
  }
.navbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
nav{
    padding:1em;
    width: 8em;
    position: absolute;
    top:3.7em;
    right:0;
    display: none;
    background-color:red;
    
  }
  .navbar-links {
    padding: 0;
  }

  .navbar-links li{
    display:block;
    width: 100%;
    padding: 0.3em; 
    margin: 0;
   
  }
  .navbar-links li a{
    color: antiquewhite;
    margin: 0;
  }
  .navbar-links li:hover{
    background-color:rgb(179, 36,  0);
  }
  .navbar-links{
    margin:0;
  }
  nav.is--open {
    display:unset;
  
  }
  .main-center {
     display: flex;
   border-style: solid;
   border-color: rgb(255, 0, 0);
   border-width:1px;
   border-top: unset;
   border-bottom: unset;
      margin:0 auto;
      
  }
  .center-container{
      width: 60%;
      padding-left:1em;
     margin-right: 1em;
  }
 .camp-pictures{
    position: relative;
    text-align: center;
   width: 100%;
   height: 100%;
   
  }
  .left-side{
      width: 30%;
      height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
     
  }
  
 #photocamp{
      width: 80%;
      border: 2px double #ddd; 
      border-radius: 4px;
      height: 50%;
  }
 
  .camp-pictures  .previous{ 
  position: absolute;
background-color: black;
opacity: 0.2;
width: 10%;
height: 98.5%;
bottom: 0;
right: 80.2%;
margin-bottom: 0.3em;
display: flex;
justify-content: center;
align-items: center;

} 
.camp-pictures  .next{ 
    position: absolute;
  background-color: black;
  opacity: 0.2;
  width: 10%;
  height: 98.5%;
  bottom: 0;
  right: 10%;
  margin-bottom: 0.3em;
  display: flex;
justify-content: center;
align-items: center;
  
  }
.camp-pictures .previous a,.camp-pictures .next a{
    position: relative;
font-size: 8em;
 opacity: 1;
 color:white;
    
}
.previous:hover,.next:hover{
    opacity: 0.4;
}



.descript-camps{
    position: relative;
    text-align: left;
    margin-top: 10vh;
}
 .description-box{
    
     margin-top: 0;
padding:0.5em;
    
  

 }

 .label-descript{
  margin-bottom:0; 
 }

 .price-label{
     display: flex;
     align-items: center;
     justify-content: space-between;
     
     padding-right: 1em;
     padding-bottom:0;
     margin-bottom: 0;
     height: 20px;
     font-size: 1.5rem;
 }
 .camp-name{
  font-size: 2rem;
}
 .camp-about{
     background-color: white;
     border-radius: 4px;
     margin-top: 1em;
     padding-left: 1em;
 }
 .rating-container{
     position: relative;
  
     display: flex;
    flex-direction: row-reverse;
    width: 150px;
    
     


     
 }
 .rating-container input{
     display: none;
 }
 .rating-container label{
display:block;
cursor:pointer;
width: 30px;

 }
 .rating-container label:before{
   content: "\2605";
   font-size: 2rem;
   position: relative;
   display: block;
   color:#BAB5B5;
 
 }

 .rating-container label:after{
    content: "\2605";
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 0;
    color:#ffdb4d;
  opacity: 0;
  transition:.5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
  }
  .rating-container label:hover:after ,
  .rating-container label:hover ~label:after,
  .rating-container input:checked ~ label:after{
      opacity: 1;
  }
  .review-form{
      display: none;
  }
.review-form p{
   margin-bottom: 0;
   padding-bottom: 0;
   font-size: 1rem;
}
.review-btn{
    padding: 0;
    font-size: 0.8em;
    height: 3em;
    width: 50%;
    background-color: rgb(250, 0, 50);
    border: rgb(250, 0, 50) solid 2px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    left: 25%;
}
.book-btn{
  padding: 0;
    font-size: 0.8em;
    height: 3em;
    width: 30%;
    background-color: rgb(250, 0, 50);
    border: rgb(250, 0, 50) solid 2px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
}
 
 .comment-section{
     width:100%;
    
 }
 .comment-section textarea{
     width: 100%;
border-radius: 4px;
     height: 100px;
     
     resize: none;
 }
.submit-button{
    padding: 0;
    font-size: 0.8em;
    height: 3em;
    width: 50%;
    background-color: rgb(250, 0, 50);
    border: rgb(250, 0, 50) solid 2px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    left: 25%;
}



.single-review{
padding-left:1em;
margin: auto;
   background-color: #FFF;
    box-shadow:  0 0 5px;
    border-radius: 4px;
  
}
.right-side{
    width: 10%;
    
}
.choose-files{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    
}
.choose-files + label{
    font-size: 1.25em;
    font-weight: 700;

    display: inline-block;

}
.choose-files + label:hover{
    background-color: white;
    color:rgb(250, 0, 50);

}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content {
    margin: auto;
    display: block;
    width: 80vw;
   max-width: 1000px;
  }
.modal .next{
   position:relative;
   right: 12vw;
   font-size: 3rem;
}
.modal .previous{
    position: relative;
    left:12vw;
    font-size: 3rem;
}
.left-side .map {
    position: relative;
    height: 200px;
   width:100%;
   left: 1.5em;
   top:1.5em;
   
  }
  .contact-box,.utilities-box{
   position: relative;
   width: 60%;
   margin-top: 1em;
  
  }
  .contact-box div,.utilities-box div{
      background-color: whitesmoke;
      border: 1px solid black;
      border-radius: 4px;
    
      text-align: center;
      padding-bottom: 0;
      margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: bold;
  }

  .contact-box p{
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    border-top:none;
padding-top: 0;
margin-top: 0;
border-top-right-radius: 0;
border-top-left-radius: 0;
      text-align: center;
  }
  .utilities-box ol{
    background-color: white;
  
    border: 1px solid black;
     border-radius: 4px;
    border-top:none;
padding-top: 0;
margin-top: 0;
border-top-right-radius: 0;
border-top-left-radius: 0; 
    
  }
  .utilities-box ol li {
      list-style-type: disc;
  }
  
  .left-side div span{
      position: relative;
      border:0.5px solid gray;
      font-weight: bold;
      border-radius: 4px;
      top:35px;
      left:6%;
      font-size: 0.8rem;
      padding: 0.5em;
  }
  .single-review2{
      display: flex;
      width: 100%;
      
margin: auto;
   background-color: #FFF;
    box-shadow:  0 0 5px;
    border-radius: 4px;
      
  }
  .avatar{
      height: 80%;
      width:100%;
     margin-right: 1em;
     text-align: center;

  }
  .single-review2 .avatar img{
      width: 100px;
    height: 100px;
      border-radius: 100px;
  }

@media screen and (max-width: 620px) {
    .left-header-btn-links,.right-header-btn{
        display: none;
    
      }
    
 
    .menuBtn{
        display: block;
        
      }

 .main-center{
     flex-direction: column;
     
 }
 .right-side{
     width: 100%;
  height: 30vh;
 }
 .left-side{
     width: 100%;
   
 }
 .center-container{
width: 90%;
order: -1;
 }
 
   
}





